<div id="main">
  <h1><span id='team_name'></span>Leaderboard</h1>

  <div id='teams_dropdown'>
  </div>

  <%# TODO: Remove this placeholder text! %>
  <p>Welcome to the beRecruited challenge!</p>
  <p>Populate this leaderboard from the <a href="http://en.wikipedia.org/wiki/JSON">JSON</a> API here: <a href="http://br-interview-api.heroku.com">http://br-interview-api.heroku.com</a></p>
    
  <%# TODO: Populate the rows in this table with data from http://br-interview-api.heroku.com %>
  <table>
    <div id='top_five'></div>
  </table>
</div>

<script type="application/json" id='bootstrapped_teams_json'>
  <%= Team.all.to_json.html_safe %>
</script>

<script type="application/javascript">
  $(function () {
    var teamsData_unclean = JSON.parse($('#bootstrapped_teams_json').html());

    var teamsData = teamsData_unclean.map(function(teamData) {
      return teamData['team'];
    });

    window.Leaderboard.initialize($('#top_five'), teamsData);
  });
</script>

<%#= Templates below: %>

<script type="text/html" id="team_dropdown_template">
  <select>
    <option value=''>---Choose---</option>
    <%% teams.each(function(team) { %>
      <option value="<%%= team.escape('id') %>">
        <%%= team.escape('nickname') %>
      </option>
    <%% }); %>
  </select>
</script>

<script type="text/html" id="top_five_template">
  <tr>
    <th>Name</th>
    <th>This Week's Points</th>
    <th>Last Week's Points</th>
  </tr>
  <%% users.each(function(user) { %>
    <%% var fave = favorites.findWhere({user_api_id: user.get('user_api_id')}) %>
    <tr>
      <th>
        <%%= user.escape('first_name') %> <%%= user.escape('last_name') %>
      </th>
      <th><%%= fave.escape('current_amount') %></th>
      <th><%%= fave.escape('last_week_amount') %></th>
    </tr>
  <%% }); %>
</script>
