<div id="main">
  <h1><span id='team_name'>&lt; Insert Team Here &gt;</span> Leaderboard</h1>

  <div id='teams_dropdown'>
  </div>

<!--   <form action="" method="GET"> -->
<!--     <select name="mydropdown"> -->
<!--       <option value="Milk">Fresh Milk</option> -->
<!--       <option value="Cheese">Old Cheese</option> -->
<!--       <option value="Bread">Hot Bread</option> -->
<!--     </select> -->
<!--   </form> -->

  <%# TODO: Remove this placeholder text! %>
  <p>Welcome to the beRecruited challenge!</p>
  <p>Populate this leaderboard from the <a href="http://en.wikipedia.org/wiki/JSON">JSON</a> API here: <a href="http://br-interview-api.heroku.com">http://br-interview-api.heroku.com</a></p>
    
  <%# TODO: Populate the rows in this table with data from http://br-interview-api.heroku.com %>
  <table>
    <tr>
      <th>Name</th>
      <th>This Week's Points</th>
      <th>Last Week's Points</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>This Week's Points</th>
      <th>Last Week's Points</th>
    </tr>
    <tr>
      <div id='top_five'></div>
    </tr>
  </table>
</div>

<script type="application/json"></script>

<script type="text/javascript" src="/javascripts/application.js"></script>